body {
	font-size: 16px;
	color: black;
	background:-color: white;
}

.navbar-brand h1 {
	color: black;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
}

.navbar-brand a {
	text-decoration: none;
}

.navbar{
	background-color: gray;
	border-radius: 0;
	border: 0;
	border-color: black;
}

.glyphicon{
	font-size: 30px;
	color:#61122F; 
}

.center{
	width: 90%;
	background-color: gray;

}

.container
{
	background-color: gray;
}

.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}

#myNavbar ul li a {
	color: #61122F;
}

.navbar-brand{
font-size: 30px;	
}