* {
  box-sizing: border-box;
}

h1 {
	margin-bottom: 15px;
	text-align: center;
	padding: 10px 0px 30px 0px;
}

section {
	padding: 15px;
	width: 100%;
}

div {
  	background-color: gray;
  	border: 3px solid black;
  	width: 100%;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: auto;

}

.name1 {
	float: right;
	width: 30%;
	padding: 5px;
	margin: -3px -3px 0px;
	border: 3px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	background-color: #FFB6C1;
}

.name2 {
	float: right;
	width: 30%;
	padding: 5px;
	margin: -3px -3px 0px 0px;
	border: 3px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	color: white;
	background-color: #FF0000; 
}

.name3 {
	float: right;
	width: 30%;
	padding: 5px;
	margin: -3px -3px 0px 0px;
	border: 3px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	background-color: #FFE882;  
}

.content {
	padding: 5px;
	margin: 3px;
	width: 100%;
	height: 150px;
	font-size: 110%;
	overflow: auto;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
    margin-right: auto;
  	margin-left: auto;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    margin-right: auto;
  	margin-left: auto;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}